{% extends 'layout.html' %}
{% from 'lib.j2' import jquery_js, bootswatch_spacelab_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, nav_dropdown, footer %}

{% block web_title %}
    ODP
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3">
        <div class="container-fluid">
            <div class="navbar-nav justify-content-start flex-grow-evenly">
                {{ nav_logo() }}
            </div>

            <div class="d-flex flex-column navbar-nav justify-content-center align-items-center">
                {{ nav_title() }}

                {% if current_user.is_authenticated %}
                    <div class="d-flex flex-row">
                        {{ nav_dropdown('Preservation', request.blueprint, dark=true,
                            archives='Archives',
                            providers='Providers',
                            packages='Packages',
                            resources='Resources'
                        ) }}

                        {{ nav_dropdown('Publication', request.blueprint, dark=true,
                            catalogs='Catalogues',
                            collections='Collections',
                            records='Records'
                        ) }}

                        {{ nav_dropdown('Ontology', request.blueprint, dark=true,
                            schemas='Schemas',
                            tags='Tags',
                            keywords='Keywords',
                            vocabularies='Vocabularies'
                        ) }}

                        {{ nav_dropdown('Security', request.blueprint, dark=true,
                            clients='Clients',
                            roles='Roles',
                            users='Users'
                        ) }}
                    </div>
                {% endif %}
            </div>

            <div class="navbar-nav justify-content-end flex-grow-evenly">
                {{ nav_menu(current_user) }}
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    {{ footer(
        repos=['odp-server', 'odp-admin', 'odp-core', 'odp-ui']
    ) }}
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
    <script src="{{ url_for('static', filename='scripts/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/packages.js') }}"></script>
{% endblock %}
