{% extends 'admin_base.html' %}
{% from 'content.j2' import render_info %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Archive: {{ archive.id }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(prop) render_info(archive, 'Adapter', 'URL', 'Resources', 'Scope') %}
        {% if prop == 'Adapter' %}
            {{ archive.adapter }}
        {% elif prop == 'URL' %}
            {{ archive.url }}
        {% elif prop == 'Resources' %}
            <a href="{{ url_for('resources.index', archive=archive.id) }}" class="text-decoration-none">
                {{ archive.resource_count }}
            </a>
        {% elif prop == 'Scope' %}
            {{ archive.scope_id }}
        {% endif %}
    {% endcall %}
{% endblock %}
