{% extends 'layout.html' %}
{% from 'libraries.html' import jquery_js, bootswatch_spacelab_css %}

{% block web_title %}
    SAEON | ODP Admin
{% endblock %}

{% block nav_title %}
    SAEON | Open Data Platform
{% endblock %}

{% block navbar_bg %}
    bg-dark
{% endblock %}

{% block nav_menu %}
    {% from 'macros.html' import nav_menu %}
    {{ nav_menu(request.blueprint,
        ('collections', 'providers', 'schemas', 'catalogs', 'roles'),
        ('records', 'tags', 'vocabularies', 'clients', 'users')
    ) }}
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
{% endblock %}
