{% extends 'layout.html' %}
{% from 'lib.j2' import jquery_js, bootswatch_spacelab_css %}
{% from 'nav.j2' import navbar, navbar_menu %}

{% block web_title %}
    SAEON | ODP Admin
{% endblock %}

{% block header %}
    {% call navbar(current_user, color='dark') %}
        {% if current_user.is_authenticated %}
            <div class="mx-5 mt-1">
                {{ navbar_menu(request.blueprint,
                    ('collections', 'providers', 'schemas', 'catalogs', 'roles'),
                    ('records', 'tags', 'vocabularies', 'clients', 'users')
                ) }}
            </div>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
{% endblock %}
