{% extends 'base.html' %}
{% from 'content.j2' import render_info, render_buttons, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Client: {{ client.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(prop) render_info(client, 'Name', 'Collections', 'Scope', 'Grant types', 'Response types', 'Redirect URIs',
            'Post-logout redirect URIs', 'Token lifespan (client credentials)', 'Token endpoint auth method', 'Allowed CORS origins') %}
        {% if prop == 'Name' %}
            {{ client.name }}
        {% elif prop == 'Collections' %}
            {{ obj_links('collections', client.collection_keys, newlines=True) if client.collection_specific else '(All)' }}
        {% elif prop == 'Scope' %}
            {{ client.scope_ids|sort|join('<br/>')|safe }}
        {% elif prop == 'Grant types' %}
            {{ client.grant_types|sort|join('<br/>')|safe }}
        {% elif prop == 'Response types' %}
            {{ client.response_types|sort|join('<br/>')|safe }}
        {% elif prop == 'Redirect URIs' %}
            {{ client.redirect_uris|sort|join('<br/>')|safe }}
        {% elif prop == 'Post-logout redirect URIs' %}
            {{ client.post_logout_redirect_uris|sort|join('<br/>')|safe }}
        {% elif prop == 'Token lifespan (client credentials)' %}
            {{ client.client_credentials_grant_access_token_lifespan if client.client_credentials_grant_access_token_lifespan }}
        {% elif prop == 'Token endpoint auth method' %}
            {{ client.token_endpoint_auth_method }}
        {% elif prop == 'Allowed CORS origins' %}
            {{ client.allowed_cors_origins|sort|join('<br/>')|safe }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(buttons) }}
{% endblock %}
