{% extends 'base.html' %}
{% from 'content.j2' import render_form %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {% if client %}
            Client: {{ client.name }}
        {% else %}
            Create Client
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_form(form, client, ['scope_ids', 'grant_types', 'response_types', 'redirect_uris',
        'post_logout_redirect_uris', 'client_credentials_grant_access_token_lifespan',
        'token_endpoint_auth_method', 'allowed_cors_origins']) }}
{% endblock %}
