{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table, render_buttons, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Collections
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_buttons(buttons) }}
    {% call(collection) render_table(collections, 'Key', 'Name', 'Provider', 'Records', hide_id=True) %}
        <th scope="row">{{ obj_link('', collection.id, collection.key) }}</th>
        <td>{{ collection.name }}</td>
        <td>{{ obj_link('providers', collection.provider_id, collection.provider_key) }}</td>
        <td>
            <a href="{{ url_for('records.index', collection=collection.id) }}" class="text-decoration-none">
                {{ collection.record_count }}
            </a>
        </td>
    {% endcall %}
{% endblock %}
