{% extends 'base.html' %}
{% from 'macros.html' import render_table, render_buttons_2, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Collections
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_buttons_2(buttons) }}
    {% call(collection) render_table(collections, 'Name', 'Provider', 'Records') %}
        <td>{{ collection.name }}</td>
        <td>{{ obj_link('providers', collection.provider_id) }}</td>
        <td>
            <a href="{{ url_for('records.index', collection=collection.id) }}" class="text-decoration-none">
                {{ collection.record_count }}
            </a>
        </td>
    {% endcall %}
{% endblock %}
