{% extends 'admin_base.html' %}
{% from 'content.j2' import render_info, render_buttons, render_table, obj_link, obj_links %}
{% from 'packages.j2' import tag_popup_button %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Package: {{ package.title }}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab">
                Resources
            </button>
        </li>
    </ul>

    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% call(prop) render_info(package,
                    'Title', 'DOI', 'Provider', 'Resources', 'Status', 'Record', 'Notes', 'Timestamp') %}

                {% if prop == 'Title' %}
                    {{ package.title }}

                {% elif prop == 'DOI' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ doi_tag.data.doi if doi_tag }}
                        </div>
                        <div>
                            {{ tag_popup_button(doi_btn) }}
                        </div>
                    </div>

                {% elif prop == 'Provider' %}
                    {{ obj_link('providers', package.provider_id, package.provider_key) }}

                {% elif prop == 'Resources' %}
                    <a href="{{ url_for('resources.index', package=package.id) }}" class="text-decoration-none">
                        {{ package.resource_ids | length }}
                    </a>

                {% elif prop == 'Status' %}
                    {{ package.status }}

                {% elif prop == 'Record' %}
                    {{ package.record_doi or package.record_sid }}

                {% elif prop == 'Notes' %}
                    <div class="pre-wrap">{{ package.notes }}</div>

                {% elif prop == 'Timestamp' %}
                    {{ package.timestamp | timestamp }}

                {% endif %}
            {% endcall %}

            {{ render_buttons(buttons) }}
        </div>

        <div id="resources" class="tab-pane fade" role="tabpanel">
            {% call(resource) render_table(resources,
                    'Title', 'File name', 'File size', 'Provider', 'Archive',
                    archive=archive, hide_id=true
            ) %}
                <th scope="row">{{ obj_link('resources', resource.id, resource.title) }}</th>
                <td>{{ resource.filename }}</td>
                <td>{{ resource.size | bytes }}</td>
                <td>{{ obj_link('providers', resource.provider_id, resource.provider_key) }}</td>
                <td>{{ obj_links('archives', resource.archive_urls.keys()) }}</td>
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {% if modal %}
            $(window).on('load', function() {
                $('#{{ modal }}').modal('show');
            });
        {% endif %}
    </script>
{% endblock %}
