{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table, render_buttons, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Packages
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_buttons(buttons) }}

    {% call(package) render_table(packages,
            'Identifier', 'Title', 'Resources', 'Record', 'Provider',
            hide_id=true
    ) %}
        <th scope="row">
            {{ obj_link('packages', package.id, package.record_doi or package.record_sid or package.id) }}
        </th>
        <td>
            {{ package | metadata_title }}
        </td>
        <td>
            <a href="{{ url_for('resources.index', package=package.id) }}" class="text-decoration-none">
                {{ package.resource_ids | length }}
            </a>
        </td>
        <td>
            {{ package.record_doi or package.record_sid }}
        </td>
        <td>
            {{ obj_link('providers', package.provider_id, package.provider_key) }}
        </td>
    {% endcall %}
{% endblock %}
