{% extends 'base.html' %}
{% from 'content.j2' import render_table, render_buttons, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Providers
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_buttons(buttons) }}
    {% call(provider) render_table(providers, 'Key', 'Name', 'Collections', hide_id=True) %}
        <th scope="row">{{ obj_link('', provider.id, provider.key) }}</th>
        <td>{{ provider.name }}</td>
        <td>{{ obj_links('collections', provider.collection_keys) }}</td>
    {% endcall %}
{% endblock %}
