{% extends 'base.html' %}
{% from 'content.j2' import render_info, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Provider Audit: {{ audit.provider_name or audit.provider_id }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% if audit.command == 'insert' %}
        {% set action = 'Created' %}
    {% elif audit.command == 'update' %}
        {% set action = 'Updated' %}
    {% elif audit.command == 'delete' %}
        {% set action = 'Deleted' %}
    {% endif %}

    {% call(prop) render_info(audit, 'Id', 'Key', 'Name', action, hide_id=True) %}
        {% if prop == 'Id' %}
            {{ audit.provider_id }}
        {% elif prop == 'Key' %}
            {{ audit.provider_key if audit.provider_key }}
        {% elif prop == 'Name' %}
            {{ audit.provider_name if audit.provider_name }}
        {% elif prop == action %}
            {{ audit.timestamp|timestamp }} by
            {% if audit.user_id %}
                {{ obj_link('users', audit.user_id, audit.user_name) }} using
            {% endif %}
            {{ obj_link('clients', audit.client_id) }}
        {% endif %}
    {% endcall %}
{% endblock %}
