{% extends 'admin_base.html' %}
{% from 'content.j2' import render_info, render_buttons, obj_links, render_audit_table %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Provider: {{ provider.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#audit-log" type="button" role="tab">
                Audit Log
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% call(prop) render_info(provider,
                    'Key', 'Name', 'Collections', 'Packages', 'Resources', 'Users', 'Clients', 'Timestamp'
            ) %}
                {% if prop == 'Key' %}
                    {{ provider.key }}
                {% elif prop == 'Name' %}
                    {{ provider.name }}
                {% elif prop == 'Collections' %}
                    {{ obj_links('collections', provider.collection_keys, newlines=True) }}
                {% elif prop == 'Packages' %}
                    <a href="{{ url_for('packages.index', provider=provider.id) }}" class="text-decoration-none">
                        {{ provider.package_count }}
                    </a>
                {% elif prop == 'Resources' %}
                    <a href="{{ url_for('resources.index', provider=provider.id) }}" class="text-decoration-none">
                        {{ provider.resource_count }}
                    </a>
                {% elif prop == 'Users' %}
                    {{ obj_links('users', provider.user_names, newlines=True) }}
                {% elif prop == 'Clients' %}
                    {{ obj_links('clients', provider.client_ids, newlines=True) }}
                {% elif prop == 'Timestamp' %}
                    {{ provider.timestamp | timestamp }}
                {% endif %}
            {% endcall %}

            {{ render_buttons(buttons) }}
        </div>

        <div id="audit-log" class="tab-pane fade" role="tabpanel">
            {% call(audit_record) render_audit_table(audit_records) %}
                <a href="{{ url_for('.audit_detail', id=provider.id, audit_id=audit_record.audit_id) }}" class="text-decoration-none">
                    Provider
                </a>
            {% endcall %}
        </div>
    </div>
{% endblock %}
