{% extends 'admin_base.html' %}
{% from 'forms.j2' import render_form %}
{% from 'providers.j2' import users_button %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {% if provider %}
            Provider: {{ provider.name }}
        {% else %}
            Create Provider
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {{ users_button(user_filter_form) }}
    {{ render_form(form, provider) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#users-popup').on('show.bs.modal', function () {
            $('input[id^="check-"]').prop('checked', false);
            $('#check-all').prop('indeterminate', false);
            $('#no-results').addClass('visually-hidden');
        });

        function fetchUsers() {
            /* Fetch user records from the app server and populate the modal. */
            const q = $('#q').val();
            const role = $('#role').val();
            const url = `${rootPath}/providers/fetch-users?q=${q}&role=${role}`;

            $.getJSON(url)
                .done(function (result) {
                    const tbody = $('<tbody id="users-table-body">');
                    if (result.total > 0) {
                        for (let i = 0; i < result.items.length; i++) {
                            let row = $('<tr>');
                            let user = result.items[i];
                            let userCheck = $(`<input class="form-check-input" type="checkbox" value=""
                                                id="check-item-${user.id}" onchange="checkItem();">`);
                            userCheck.data(user);
                            row.append($('<td>').append(userCheck));
                            row.append($('<td>').text(user.name));
                            row.append($('<td>').text(user.email));
                            row.append($('<td>').text(user.role_ids));
                            tbody.append(row);
                        }
                        $('#no-results').addClass('visually-hidden');
                    } else {
                        $('#no-results').removeClass('visually-hidden');
                    }
                    $('#users-table-body').replaceWith(tbody);
                })
                .fail(function (jqxhr, textStatus, error) {
                    alert(`${textStatus}: ${error}`)
                })
        }

        function addUsers() {
            /* Add checked users in the modal to the users multiselect form control. */
            const checkedUsers = $('input:checked[id^="check-item-"]');
            if (checkedUsers.length > 0) {
                const userSelect = $('#user_ids');
                checkedUsers.each(function () {
                    let user = $(this).data();
                    // only add if not already present in the multiselect
                    if ($(`input[value="${user.id}"]`).length === 0) {
                        let li = $('<li>');
                        let checkbox = $(`<input type="checkbox" checked name="user_ids" id="${user.id}" value="${user.id}">`);
                        let label = $(`<label for="${user.id}">`);
                        label.text(`${user.name} | ${user.email}`);
                        li.append(checkbox);
                        li.append(' ');
                        li.append(label);
                        userSelect.append(li);
                    }
                });
                flashTooltip('add-users-btn', 'Added!');
            } else {
                flashTooltip('add-users-btn', 'No users selected');
            }
        }
    </script>
{% endblock %}
