{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table, render_button, obj_link %}
{% from 'admin_macros.j2' import record_filter, catalog_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Records
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col p-0">
                {{ render_button(buttons[0]) }}
            </div>
            <div class="col-11 p-0">
                {{ record_filter(filter_form) }}
            </div>
        </div>
    </div>

    {% call(record) render_table(records,
            'Identifier', 'Title', 'Collection', 'Valid', 'QC', 'SDG', 'Published',
            hide_id=true, query=filter_) %}

        <th scope="row">
            {{ obj_link('records', record.id, record.doi or record.sid) }}
        </th>
        <td>
            {% if record.schema_id == 'SAEON.DataCite4' %}
                {% if 'titles' in record.metadata %}
                    {{ record.metadata.titles[0].title }}
                {% endif %}
            {% elif record.schema_id == 'SAEON.ISO19115' %}
                {{ record.metadata.title }}
            {% endif %}
        </td>
        <td>
            {{ obj_link('collections', record.collection_id, record.collection_key) }}
        </td>
        <td>
            {{ '&#9989;'|safe if record.validity.valid else '&#10060;'|safe }}
        </td>
        <td>
            {% for qc_tag in record.tags | selectattr('tag_id', '==', 'Record.QC') %}
                {{ '&#9989;'|safe if qc_tag.data.pass_ else '&#10060;'|safe }}
            {% endfor %}
        </td>
        <td>
            {% for sdg_tag in record.tags | selectattr('tag_id', '==', 'Record.SDG') | sort(attribute='data.keyword') %}
                <strong>
                    {{ sdg_tag.data.keyword | int }}
                    {%- if not loop.last %}, {% endif %}
                </strong>
            {% endfor %}
        </td>
        <td>
            {% for catalog_id in record.published_catalog_ids %}
                {{ catalog_link(catalog_urls, catalog_id, record.doi or record.id) }}
            {% endfor %}
        </td>
    {% endcall %}
{% endblock %}
