{% extends 'base.html' %}
{% from 'content.j2' import render_table, render_button, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Records
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col p-0">
                {{ render_button(buttons[0]) }}
            </div>
            <div class="col-11 p-0">
                <form action="{{ url_for('.index') }}" method="get">
                    <div class="row">
                        <div class="col-1 text-end">
                            {{ filter_form.title_q.label(class='col-form-label') }}
                        </div>
                        <div class="col-4">
                            {{ filter_form.title_q(class='form-control', placeholder='Enter title search terms...') }}
                        </div>
                        <div class="col-2 text-end">
                            {{ filter_form.id_q.label(class='col-form-label') }}
                        </div>
                        <div class="col-4">
                            {{ filter_form.id_q(class='form-control', placeholder='Enter record identifiers...') }}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-info btn-action">
                                Find
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% call(record) render_table(records, 'Identifier', 'Title', 'Collection', 'Schema', 'Valid',
            'Published', hide_id=true, query=filter_) %}
        <th scope="row">{{ obj_link('records', record.id, record.doi or record.sid) }}</th>
        <td>
            {% if record.schema_id == 'SAEON.DataCite4' %}
                {% if 'titles' in record.metadata %}
                    {{ record.metadata.titles[0].title }}
                {% endif %}
            {% elif record.schema_id == 'SAEON.ISO19115' %}
                {{ record.metadata.title }}
            {% endif %}
        </td>
        <td>{{ obj_link('collections', record.collection_id, record.collection_key) }}</td>
        <td>{{ obj_link('schemas', record.schema_id) }}</td>
        <td>{{ '&#9989;'|safe if record.validity.valid else '&#10060;'|safe }}</td>
        <td>
            {% for catalog_id in record.published_catalog_ids %}
                <a href="{{ url_for('.view_catalog_record', id=record.id, catalog_id=catalog_id) }}">
                    {% if catalog_id == 'SAEON' %}
                        <img src="{{ url_for('static', filename='images/nrf-favicon.ico') }}" height="20">
                    {% elif catalog_id == 'DataCite' %}
                        <img src="{{ url_for('static', filename='images/datacite-logo.svg') }}" height="20">
                    {% elif catalog_id == 'MIMS' %}
                        &#127754;
                    {% endif %}
                </a>
            {% endfor %}
        </td>
    {% endcall %}
{% endblock %}
