{% extends 'admin_base.html' %}
{% from 'content.j2' import render_info, render_buttons, render_table, render_tag_table,
    render_audit_table, obj_link, render_button %}
{% from 'admin_macros.j2' import record_filter, catalog_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Record: {{ record.doi or record.sid }}
    {% endblock %}
{% endblock %}

{% block content_nav %}
    <div class="container-fluid mt-3 mb-5">
        <div class="row">
            <div class="col p-0">
                {{ render_button(create_btn) }}
            </div>
            <div class="col-11 p-0">
                {{ record_filter(filter_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab">
                Metadata
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#validity" type="button" role="tab">
                Validity
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tag-qc" type="button" role="tab">
                QC
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tag-sdg" type="button" role="tab">
                SDG
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tag-embargo" type="button" role="tab">
                Embargo
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tag-notes" type="button" role="tab">
                Notes
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-records" type="button" role="tab">
                Catalogue Records
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#audit-log" type="button" role="tab">
                Audit Log
            </button>
        </li>
    </ul>

    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% call(prop) render_info(record,
                    'DOI', 'SID', 'Parent record', 'Child records', 'Collection', 'Schema', 'Valid', 'QC', 'SDG', 'Embargo',
                    'Published', 'Searchable', 'Retracted', 'Migrated', 'Timestamp') %}

                {% if prop == 'DOI' %}
                    {{ record.doi if record.doi }}

                {% elif prop == 'SID' %}
                    {{ record.sid if record.sid }}

                {% elif prop == 'Parent record' %}
                    {{ obj_link('records', record.parent_id, record.parent_doi) }}

                {% elif prop == 'Child records' %}
                    {% if record.child_dois %}
                        <a href="{{ url_for('records.index', parent=record.id) }}" class="text-decoration-none">
                            {{ record.child_dois | count }}
                        </a>
                    {% endif %}

                {% elif prop == 'Collection' %}
                    {{ obj_link('collections', record.collection_id, record.collection_key) }}

                {% elif prop == 'Schema' %}
                    {{ obj_link('schemas', record.schema_id) }}

                {% elif prop == 'Valid' %}
                    {{ '&#9989;'|safe if record.validity.valid else '&#10060;'|safe }}

                {% elif prop == 'Migrated' %}
                    {% if migrated_tag %}
                        {{ migrated_tag.timestamp|timestamp }} from ODP v1 with a status of
                        {{ 'Published' if migrated_tag.data.published else 'Not Published' }}
                    {% endif %}

                {% elif prop == 'Published' %}
                    {% for catalog_id in record.published_catalog_ids %}
                        {{ catalog_link(catalog_urls, catalog_id, record.doi or record.id) }}
                    {% endfor %}

                {% elif prop == 'Searchable' %}
                    {% if collection_notsearchable_tag %}
                        {{ '&#10060;'|safe }} - the collection is tagged as not searchable
                    {% elif notsearchable_tag %}
                        {{ '&#10060;'|safe }}
                        - {{ obj_link('users', notsearchable_tag.user_id, notsearchable_tag.user_name) }}, {{ notsearchable_tag.timestamp|timestamp }}
                    {% else %}
                        {{ '&#9989;'|safe }}
                    {% endif %}

                {% elif prop == 'QC' %}
                    {% for qc_tag in qc_tags['items'] %}
                        {{ qc_tag.data.pass_|replace('True', '&#9989;')|replace('False', '&#10060;') | safe }}
                        - {{ obj_link('users', qc_tag.user_id, qc_tag.user_name) }}, {{ qc_tag.timestamp|timestamp }}<br/>
                    {% endfor %}

                {% elif prop == 'SDG' %}
                    {% for sdg_tag in sdg_tags['items'] | sort(attribute='data.keyword') %}
                        {% set sdg_keyword = sdg_vocab[sdg_tag.data.keyword] %}
                        {{ sdg_keyword.id | int }} - {{ sdg_keyword.title }}
                        {%- if not loop.last %}<br/>{% endif %}
                    {% endfor %}

                {% elif prop == 'Embargo' %}
                    {% for embargo_tag in embargo_tags['items'] %}
                        From {{ embargo_tag.data.start|date }}
                        to {{ embargo_tag.data.end|date if embargo_tag.data.end else '(no end date)' }}
                        set by {{ obj_link('users', embargo_tag.user_id, embargo_tag.user_name) }}<br/>
                    {% endfor %}

                {% elif prop == 'Retracted' %}
                    {% if retracted_tag %}
                        {{ retracted_tag.timestamp|timestamp }} by {{ obj_link('users', retracted_tag.user_id, retracted_tag.user_name) }}
                    {% endif %}

                {% elif prop == 'Timestamp' %}
                    {{ record.timestamp|timestamp }}
                {% endif %}
            {% endcall %}

            {{ render_buttons(buttons) }}
        </div>

        <div id="metadata" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- record.metadata|format_json -}}
            </pre>
        </div>

        <div id="validity" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- record.validity|format_json -}}
            </pre>
        </div>

        <div id="tag-qc" class="tab-pane fade" role="tabpanel">
            {{ render_tag_table(record, qc_tags, '.tag_qc', '.untag_qc', qc_tag_enabled,
               pass_='Pass', comment='Comment') }}
        </div>

        <div id="tag-embargo" class="tab-pane fade" role="tabpanel">
            {{ render_tag_table(record, embargo_tags, '.tag_embargo', '.untag_embargo', embargo_tag_enabled,
               start='Start date', end='End date', comment='Comment') }}
        </div>

        <div id="tag-notes" class="tab-pane fade" role="tabpanel">
            {{ render_tag_table(record, note_tags, '.tag_note', '.untag_note', note_tag_enabled,
               comment='Note') }}
        </div>

        <div id="tag-sdg" class="tab-pane fade" role="tabpanel">
            {{ render_tag_table(record, sdg_tags, '.tag_sdg', '.untag_sdg', sdg_tag_enabled,
               keyword='SDG', comment='Comment') }}
        </div>

        <div id="catalog-records" class="tab-pane fade" role="tabpanel">
            {% call(catalog_record) render_table(catalog_records, 'Catalogue', 'Published', 'Reason', 'Timestamp', hide_id=True) %}
                <td>{{ obj_link('catalogs', catalog_record.catalog_id) }}</td>
                <td>
                    <a href="{{ url_for('.catalog_detail', id=record.id, catalog_id=catalog_record.catalog_id) }}" class="text-decoration-none">
                        {{ catalog_record.published }}
                    </a>
                </td>
                <td>{{ catalog_record.reason }}</td>
                <td>{{ catalog_record.timestamp|timestamp }}</td>
            {% endcall %}
        </div>

        <div id="audit-log" class="tab-pane fade" role="tabpanel">
            {% call(audit_record) render_audit_table(audit_records) %}
                {% if audit_record.table == 'record' %}
                    <a href="{{ url_for('.audit_detail', id=record.id, record_audit_id=audit_record.audit_id) }}" class="text-decoration-none">
                        Record
                    </a>
                {% elif audit_record.table == 'record_tag' %}
                    <a href="{{ url_for('.tag_audit_detail', id=record.id, record_tag_audit_id=audit_record.audit_id) }}" class="text-decoration-none">
                        {{ audit_record.tag_id }}
                    </a>
                {% endif %}
            {% endcall %}
        </div>
    </div>
{% endblock %}
