{% extends 'base.html' %}
{% from 'content.j2' import render_table, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Resources
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(resource) render_table(
            resources,
            'Path', 'Provider', 'Archive', 'Type', 'Name', 'Size',
            hide_id=true
    ) %}
        <th scope="row">{{ obj_link('', resource.id, resource.path) }}</th>
        <td>{{ obj_link('providers', resource.provider_id, resource.provider_key) }}</td>
        <td>{{ obj_link('archives', resource.archive_id) }}</td>
        <td>{{ resource.type }}</td>
        <td>{{ resource.name }}</td>
        <td>{{ resource.size }}</td>
    {% endcall %}
{% endblock %}
