{% extends 'base.html' %}
{% from 'content.j2' import render_table, render_buttons, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Resources
    {% endblock %}
{% endblock %}

{% block content %}
    {{ render_buttons(buttons) }}

    {% call(resource) render_table(resources,
            'Title', 'File name', 'File size', 'Provider',
            hide_id=true
    ) %}
        <th scope="row">{{ obj_link('', resource.id, resource.title) }}</th>
        <td>{{ resource.filename }}</td>
        <td>{{ resource.size }}</td>
        <td>{{ obj_link('providers', resource.provider_id, resource.provider_key) }}</td>
    {% endcall %}
{% endblock %}
