{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Resources
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(resource) render_table(resources,
            'Title', 'File name', 'File size', 'Provider', 'Archive',
            hide_id=true, query=filter_
    ) %}
        <th scope="row">{{ obj_link('', resource.id, resource.title or resource.filename) }}</th>
        <td>{{ resource.filename }}</td>
        <td>{{ resource.size | bytes }}</td>
        <td>{{ obj_link('providers', resource.provider_id, resource.provider_key) }}</td>
        <td>{{ obj_links('archives', resource.archive_paths.keys()) }}</td>
    {% endcall %}
{% endblock %}
