{% extends 'base.html' %}
{% from 'content.j2' import render_info, obj_link %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Tag: {{ tag.id }}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#schema" type="button" role="tab">
                Schema
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% call(prop) render_info(tag, 'Cardinality', 'Public', 'Scope', 'Schema URI', 'Vocabulary') %}
                {% if prop == 'Cardinality' %}
                    {{ tag.cardinality }}
                {% elif prop == 'Public' %}
                    {{ tag.public }}
                {% elif prop == 'Scope' %}
                    {{ tag.scope_id }}
                {% elif prop == 'Schema URI' %}
                    {{ tag.schema_uri }}
                {% elif prop == 'Vocabulary' %}
                    {{ obj_link('vocabularies', tag.vocabulary_id) }}
                {% endif %}
            {% endcall %}
        </div>
        <div id="schema" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- tag.schema_|format_json -}}
            </pre>
        </div>
    </div>
{% endblock %}
