{% extends 'base.html' %}
{% from 'content.j2' import render_info, render_buttons, render_table, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        User: {{ user.name }}
        {% if user.picture %}
            <div>
                <img src="{{ user.picture }}" class="mt-3">
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#audit-log" type="button" role="tab">
                Audit Log
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% call(prop) render_info(user, 'Name', 'Email', 'Verified', 'Active', 'Roles') %}
                {% if prop == 'Name' %}
                    {{ user.name }}
                {% elif prop == 'Email' %}
                    {{ user.email }}
                {% elif prop == 'Verified' %}
                    {{ user.verified }}
                {% elif prop == 'Active' %}
                    {{ user.active }}
                {% elif prop == 'Roles' %}
                    {{ obj_links('roles', user.role_ids, newlines=True) }}
                {% endif %}
            {% endcall %}
            {{ render_buttons(buttons) }}
        </div>
        <div id="audit-log" class="tab-pane fade" role="tabpanel">
            {% call(audit_record) render_table(audit_records, 'Action', 'Completed', 'Client', 'Timestamp', hide_id=True) %}
                <td>
                    <a href="{{ url_for('.view_audit_detail', id=user.id, audit_id=audit_record.audit_id) }}" class="text-decoration-none">
                        {{ audit_record.command }}
                    </a>
                </td>
                <td>{{ '&#9989;'|safe if audit_record.completed else '&#10060;'|safe }}</td>
                <td>{{ obj_link('clients', audit_record.client_id) }}</td>
                <td>{{ audit_record.timestamp|timestamp }}</td>
            {% endcall %}
        </div>
    </div>
{% endblock %}
