{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table, obj_link, obj_links %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Users
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(user) render_table(users, 'Email', 'Name', 'Roles', hide_id=True) %}
        <th scope="row">{{ obj_link('users', user.id, user.email) }}</th>
        <td>{{ user.name }}</td>
        <td>{{ obj_links('roles', user.role_ids) }}</td>
    {% endcall %}
{% endblock %}
