{% extends 'admin_base.html' %}
{% from 'content.j2' import render_table %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Vocabularies
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(vocabulary) render_table(vocabularies, 'URI', 'Keywords', 'Editable') %}
        <td>
            {{ vocabulary.uri }}
        </td>
        <td>
            <a href="{{ url_for('keywords.index', vocabulary=vocabulary.id) }}" class="text-decoration-none">
                {{ vocabulary.keyword_count }}
            </a>
        </td>
        <td>
            {{ not vocabulary.static }}
        </td>
    {% endcall %}
{% endblock %}
