{% extends 'admin_base.html' %}
{% from 'content.j2' import render_form %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {% if term %}
            vocabulary.id: {{ term.data.name or term.data.title }}
        {% else %}
            Add vocabulary.id
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% set create_endpoint = '.create_' + vocabulary.id|lower + '_term' %}
    {% set edit_endpoint = '.edit_' + vocabulary.id|lower + '_term' %}
    {{ render_form(form, term,
       submit_target=url_for(edit_endpoint, id=term.id) if term else url_for(create_endpoint),
       cancel_target=url_for('.detail', id=vocabulary.id)) }}
{% endblock %}
