{% macro record_filter(
    form
) %}
    <form action="{{ url_for('records.index') }}" method="get">
        <div class="row">
            <div class="col-1 text-end">
                {{ form.title_q.label(class='col-form-label') }}
            </div>
            <div class="col-4">
                {{ form.title_q(class='form-control', placeholder='Enter title search terms...') }}
            </div>
            <div class="col-2 text-end">
                {{ form.id_q.label(class='col-form-label') }}
            </div>
            <div class="col-4">
                {{ form.id_q(class='form-control', placeholder='Enter record identifiers...') }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-info btn-action">
                    Find
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro catalog_link(
    catalog_urls,
    catalog_id,
    record_id
) %}
    {# Render a catalog icon, linking to the landing page for a published record.
        catalog_urls: mapping of catalog ids to catalog urls
        catalog_id: 'SAEON', 'MIMS' or 'DataCite'
        record_id: record DOI or UUID
    #}
    <a href="{{ catalog_urls[catalog_id] }}/{{ record_id }}" target="_blank" class="text-decoration-none">
        {% if catalog_id == 'SAEON' %}
            <img src="{{ url_for('static', filename='images/nrf-favicon.ico') }}" height="20">
        {% elif catalog_id == 'MIMS' %}
            <img src="{{ url_for('static', filename='images/mims-icon-32x32.png') }}" height="18">
        {% elif catalog_id == 'DataCite' %}
            <img src="{{ url_for('static', filename='images/datacite-logo.svg') }}" height="18">
        {% endif %}
    </a>
{% endmacro %}
